<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Tingle</a>
      </li>
      <li>
        <a href="https://steemit.com/"><span class="glyphicon glyphicon-user"></span> Meet the team</a>
      </li>
      <li>
        <a href="https://neo-slack-invite.herokuapp.com/"></span> Slack</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Services <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://coinmarketcap.com/">Cryptocurrency market data</a></li>
            <li><a href="https://neotracker.io/">NEO blockchain explorer</a></li>
            <li><a href="https://media.giphy.com/media/R2Rox73AYLvmE/giphy.gif">Support</a></li>
            <li><a href="https://media.giphy.com/media/a6OnFHzHgCU1O/giphy.gif">Join our team</a></li>
          </ul>
      </li>
      <li>
        <a href="https://triaconta.com/CombiCoin_Whitepaper.pdf"></span> Whitepaper</a>
      </li>
      <li>
        <a href="https://media.giphy.com/media/81xwEHX23zhvy/giphy.gif"></span> Contact Us</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://neo.org/"><span class="glyphicon glyphicon-book"></span> Powered by NEO</a>
      </li>
    </ul>
  </div>
</nav>
