<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Tingle2</h1>
    <p>A Decentralised Cryptocurrency Exchange</p>
    <a type="button" class="btn btn-lg btn-default" href="https://github.com/chrisd95/tingle2"><span class="glyphicon glyphicon-flash"></span> Getting Started with Tingle</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://www.reddit.com/"><span class="glyphicon glyphicon-download"></span> Join our Reddit</a>
  </div>
</div>
<!--Added a wrapper to the coin icons-->
<div class="flip3D">
  <div class="back"><img id="btcwhite" class="center fit" src="/btcwhite.png"></div>
  <div class="front"><img id="btcwhite" class="center fit" src="/btcwhite.png"></div>
</div>
<div class="flip3Db">
  <div class="back"><img id="ethwhite" class="center fit" src="/ethwhite.png"></div>
  <div class="front"><img id="ethwhite" class="center fit" src="/ethwhite.png"></div>
</div>
<div class="flip3D">
  <div class="back"><img id="bchwhite" class="center fit" src="/bchwhite.png"></div>
  <div class="front"><img id="bchwhite" class="center fit" src="/bchwhite.png"></div>
</div>
<div class="flip3Db">
  <div class="back"><img id="ltcwhite" class="center fit" src="/ltcwhite.png"></div>
  <div class="front"><img id="ltcwhite" class="center fit" src="/ltcwhite.png"></div>
</div>
<div class="flip3D">
  <div class="back"><img id="xrpwhite" class="center fit" src="/xrpwhite.png"></div>
  <div class="front"><img id="xrpwhite" class="center fit" src="/xrpwhite.png"></div>
</div>
<div class="flip3Db">
  <div class="back"><img id="miotawhite" class="center fit" src="/miotawhite.png"></div>
  <div class="front"><img id="miotawhite" class="center fit" src="/miotawhite.png"></div>
</div>
<!--End of plugged flippy boxes-->

<!--End of plugged flippy boxes row 2 beginning-->
<div class="flip3Db">
  <div class="back"><img id="dashwhite" class="center fit" src="/dashwhite.png"></div>
  <div class="front"><img id="dashwhite" class="center fit" src="/dashwhite.png"></div>
</div>
<div class="flip3D">
  <div class="back"><img id="xemwhite" class="center fit" src="/xemwhite.png"></div>
  <div class="front"><img id="xemwhite" class="center fit" src="/xemwhite.png"></div>
</div>
<div class="flip3Db">
  <div class="back"><img id="xmrwhite" class="center fit" src="/xmrwhite.png"></div>
  <div class="front"><img id="xmrwhite" class="center fit" src="/xmrwhite.png"></div>
</div>
<div class="flip3D">
  <div class="back"><img id="btgwhite" class="center fit" src="/btgwhite.png"></div>
  <div class="front"><img id="btgwhite" class="center fit" src="/btgwhite.png"></div>
</div>
<div class="flip3Db">
  <div class="back"><img id="adawhite" class="center fit" src="/adawhite.png"></div>
  <div class="front"><img id="adawhite" class="center fit" src="/adawhite.png"></div>
</div>
<div class="flip3D">
  <div class="back"><img id="etcwhite" class="center fit" src="/etcwhite.png"></div>
  <div class="front"><img id="etcwhite" class="center fit" src="/etcwhite.png"></div>
</div>
<!--End of plugged flippy boxes row 3 beginning-->

<div class="flip3D">
  <div class="back"><img id="eoswhite" class="center fit" src="/eoswhite.png"></div>
  <div class="front"><img id="eoswhite" class="center fit" src="/eoswhite.png"></div>
</div>
<div class="flip3Db">
  <div class="back"><img id="xlmwhite" class="center fit" src="/xlmwhite.png"></div>
  <div class="front"><img id="xlmwhite" class="center fit" src="/xlmwhite.png"></div>
</div>
<div class="flip3D">
  <div class="back"><img id="neowhite" class="center fit" src="/neowhite.png"></div>
  <div class="front"><img id="neowhite" class="center fit" src="/neowhite.png"></div>
</div>
<div class="flip3Db">
  <div class="back"><img id="bccwhite" class="center fit" src="/bccwhite.png"></div>
  <div class="front"><img id="bccwhite" class="center fit" src="/bccwhite.png"></div>
</div>
<div class="flip3D">
  <div class="back"><img id="pptwhite" class="center fit" src="/pptwhite.png"></div>
  <div class="front"><img id="pptwhite" class="center fit" src="/pptwhite.png"></div>
</div>
<div class="flip3Db">
  <div class="back"><img id="waveswhite" class="center fit" src="/waveswhite.png"></div>
  <div class="front"><img id="waveswhite" class="center fit" src="/waveswhite.png"></div>
</div>
<!--End of plugged flippy boxes row 3 end-->

<div class="flip3Db">
  <div class="back"><img id="qtumwhite" class="center fit" src="/qtumwhite.png"></div>
  <div class="front"><img id="qtumwhite" class="center fit" src="/qtumwhite.png"></div>
</div>
<div class="flip3D">
  <div class="back"><img id="lskwhite" class="center fit" src="/lskwhite.png"></div>
  <div class="front"><img id="lskwhite" class="center fit" src="/lskwhite.png"></div>
</div>
<div class="flip3Db">
  <div class="back"><img id="omgwhite" class="center fit" src="/omgwhite.png"></div>
  <div class="front"><img id="omgwhite" class="center fit" src="/omgwhite.png"></div>
</div>
<div class="flip3D">
  <div class="back"><img id="ardrwhite" class="center fit" src="/ardrwhite.png"></div>
  <div class="front"><img id="ardrwhite" class="center fit" src="/ardrwhite.png"></div>
</div>
<div class="flip3Db">
  <div class="back"><img id="zecwhite" class="center fit" src="/zecwhite.png"></div>
  <div class="front"><img id="zecwhite" class="center fit" src="/zecwhite.png"></div>
</div>
<div class="flip3D">
  <div class="back"><img id="stratwhite" class="center fit" src="/stratwhite.png"></div>
  <div class="front"><img id="stratwhite" class="center fit" src="/stratwhite.png"></div>
</div>

<!--End of plugged flippy boxes row 4 end-->

<!--This is the only way I know how to add breaks-->
<p><br>
<br>
</p>
<p><br>
<br>
</p>

<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Launching soon. Stay tuned.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Let's Tingle.</h3>
      <ul>
        <li>Tingle is a decentralised exchange platform (DEX) for cryptocurrencies powered by the <a href="https://neo.org/">NEO Blockchain</a>.</li>

        <li>When cryptocurrencies are sent to the Tingle platform, they are converted into their Tingle equivalent, allowing them to travel at lightning speed.</li>
        <li>Keeping your Tingles on the platform generate Sweat Tokens.</li>
        <li>Sweat Tokens power the Tingle platform, it is the currency in which transaction fees and system fees are paid and redistributed to Tingle owners.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> pre-ICO</h3>
      <ul>
        <li>Tingle is in pre-ICO, meaning that it's whitepaper has yet to be published. You can track the whitepaper drop <a href="https://github.com/chrisd95/tingle2">here</a>.</li>
        <li>Interested parties can join the pre-sale by following these steps:</li>
        <ul>
          <li>By joining our <a href="https://medium.com/">newsletter</a> for the latest updates.</li>
          <li>Registering to our Know Your Customer program (KYC)</li>
          <li>Download our Tingle Wallet <a href="https://github.com/chrisd95/tingle2">here</a></li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://twitter.com/">Twitter</a></li>
        <li><a href="https://www.reddit.com/">Reddit</a></li>
        <li><a href="https://medium.com/">Medium</a></li>
        <li><a href="https://github.com/chrisd95/tingle2">Github</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
     Still here? Join our discord channel.
  </div>
</div>


</body>
</html>
